*{
    box-sizing: border-box;
}

body,html{
    margin: 0;
    height: 100%;
}
.wallpaper{
    background-image: url("images/wallpaper.jfif");
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    background: none;
    position: absolute;
    top: 0;
}
.leftside{
    width:70%;
    color :black;
    text-align: center;
    margin-top: 5%;
}
h1{
margin-top: 5%;
}

.menu-align{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.icon{
    width: 300px;
    height: 300px;
    background: none;
    border:black;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.right-side{
    width: 30%;
    font-weight: bold;
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color:rgba(255, 255, 255, 0.4);
    height: 1500px;
}
.heading{
    text-align: center;
    font-weight: bold;
}
.ll{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sum{
    background-color:white;
    padding: 0 20px 0 20px;
}
.calculate{
    border-radius: 50px;
    border: black 1px solid;
    cursor: pointer;
}




